<p>
  <span class="taxonomy_header"><i class="fas fa-fw fa-folder-open" aria-hidden="true"></i> Artiklens kategori</span>
  {% assign filtered = site.manual_category | where_exp:"manual_category","page.manual_category contains manual_category.title" %}
  {% for manual_category in filtered %}
    <a href="{{ site.baseurl }}{{ manual_category.url }}" class="btn btn--inverse btn--small">{{ manual_category.title }}</a>
  {% endfor %}
</p>

<p>
  <span class="taxonomy_header"><i class="fas fa-fw fa-tags" aria-hidden="true"></i> Artiklens emner</span>
  {% assign filtered = site.manual_topic | where_exp:"manual_topic","page.manual_topic contains manual_topic.title" %}
  {% for manual_topic in filtered %}
    <a href="{{ site.baseurl }}{{ manual_topic.url }}" class="btn btn--inverse btn--small">{{ manual_topic.title }}</a>
  {% endfor %}
</p>

<p>
  <span class="taxonomy_header"><i class="fas fa-fw fa-user-circle" aria-hidden="true"></i> Målgruppe</span>
  {% assign filtered = site.audience | where_exp:"audience","page.audience contains audience.title" %}
  {% for audience in filtered %}
    <a href="{{ site.baseurl }}{{ audience.url }}" class="btn btn--inverse btn--small">{{ audience.title }}</a>
  {% endfor %}
</p>







