---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

/* Color class definitions. Used in "good" vs. "bad" examples */
.green {
  color: green;
}

.red {
  color: red;
}


.page__hero--overlay {
  margin-bottom: 1em;
}


/* The headers above taxonomy items i right coloumn on manual pages */
.taxonomy_header {
  display: block;
  margin: 0.5rem 0;
  padding: 0.25rem 0;
  font-family: -apple-system,BlinkMacSystemFont,"Roboto","Segoe UI","Helvetica Neue","Lucida Grande",Arial,sans-serif;
  font-size: .75em;
  color: #6f777d;
  text-transform: uppercase;
  border-bottom: 1px solid #f2f3f3;
}

/* Adjust position of the content title */
.page__content .feature__item .archive__item-title {
  margin-top: 0.3em;
}

/* Feature row styling */
.page__content .feature__item a:not(.btn):hover {
  text-decoration: none;
}

.feature__item a {
  text-decoration: none;
  color: #3d4144;
}

.feature__item a h2{
  text-decoration: underline;
  font-size: 1.1em;
}

/* More space between list items in sitemap */
nav ul li, nav ol li {
  margin-bottom: 10px;
}

.sidebar {
  opacity: 1;
}

.sidebar li {
  line-height: 1.3em;
}

/* Hide toc if there are no entries */
.toc:not(.toc:has(ul)) {
  display: none;
}

/* Figure styling */

figure img, figure iframe, figure .fluid-width-video-wrapper {
  margin-bottom: 0.2em;
}

figure img {
  border: solid;
  border-width: thin;
  border-style: solid;
  border-color: lightgrey;
}

figure {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-box-align: start;
  align-items: center;
  flex-wrap: wrap;
  margin: 1em 0;

  &.thirty {
    > a,
    > img {
      width: 100%;
      @include breakpoint($small) {
        width: calc(30% - 0.5em);
      }
    }

    figcaption {
      width: 100%;
      @include breakpoint($small) {
        width: calc(70% - 0.5em);
      }
    }
  }

  &.fourty {
    > a,
    > img {
      width: 100%;
      @include breakpoint($small) {
        width: calc(40% - 0.5em);
      }
    }

    figcaption {
      width: 100%;
      @include breakpoint($small) {
        width: calc(60% - 0.5em);
      }
    }
  }

  &.fifty {
    > a,
    > img {
      width: 100%;
      @include breakpoint($small) {
        width: calc(50% - 0.5em);
      }
    }

    figcaption {
      width: 100%;
      @include breakpoint($small) {
        width: calc(50% - 0.5em);
      }
    }
  }

  &.sixty {
    > a,
    > img {
      width: 100%;
      @include breakpoint($small) {
        width: calc(60% - 0.5em);
      }
    }

    figcaption {
      width: 100%;
      @include breakpoint($small) {
        width: calc(40% - 0.5em);
      }
    }
  }

  &.seventy {
    > a,
    > img,
    figcaption {
      width: 100%;
      @include breakpoint($small) {
        width: calc(70% - 0.5em);
      }
    }
  }

  &.eighty {
    > a,
    > img,
    figcaption {
      width: 100%;
      @include breakpoint($small) {
        width: calc(80% - 0.5em);
      }
    }
  }

  &.ninety {
    > a,
    > img,
    figcaption {
      width: 100%;
      @include breakpoint($small) {
        width: calc(90% - 0.5em);
      }
    }
  }
}


