---
layout: archive
---

<section id="{{ page.title | slugify | downcase }}" class="taxonomy__section">
  <h2 class="archive__subtitle">{{ page.taxonomy-header}} "{{ page.title }}"</h2>
  <div class="entries-{{ entries_layout }}">
    {% assign docs-in-topic = "" | split: ',' %}
    {%- for document in site.documents  -%}
      {% if document.topic contains page.title %}
        {% assign docs-in-topic = docs-in-topic | push: document %}
      {% endif %}
    {%- endfor -%}

    {% for post in docs-in-topic %}
      {% include archive-single.html type=entries_layout %}
    {% endfor %}
  </div>
  <a href="#page-title" class="back-to-top">{{ site.data.ui-text[site.locale].back_to_top | default: 'Back to Top' }} &uarr;</a>
</section>













